<h1>P page</h1>

<br />

<button
  class="btn"
  [routerLink]="['/posts']"
  [queryParams]="{showIds: true}"
  >Show Ids</button>
<button class="btn" (click)="showIdsProgremm()">Show Ids (program)</button>

<div class="card" *ngFor="let post of postsService.posts">
  <h4>
    <a [routerLink]="['/posts', post.id]">
      <strong *ngIf="showIds">( ID {{ post.id }})</strong>
      {{ post.title }}
    </a>
  </h4>
</div>
