<form [formGroup]='form' (ngSubmit)="submit()">
    <h1>Создание нового поста</h1>

   <!--  поле ввода названия поста -->
    <div 
        class="form-control"
        [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
    >
        <label for="title">Название поста:</label>
        <input type="text" id="title" formControlName="title">
        <div
           class="validation"
           *ngIf="form.get('title').touched && form.get('title').invalid"
         >
            <small *ngIf="form.get('title').errors.required">
                Введите название поста
            </small>
        </div>
    </div>

   <!--  поле ввода автора -->
     <div 
        class="form-control"
        [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}"
    >
        <label for="author">Автор поста:</label>
        <input type="text" id="author" formControlName="author">
        <div
           class="validation"
           *ngIf="form.get('author').touched && form.get('author').invalid"
         >
            <small *ngIf="form.get('author').errors.required">
                Введите автора поста
            </small>
        </div>
    </div>

    <!-- текстовый редактор для контента -->
    <div class="form-control">
        <label >Контент поста:</label>
        <quill-editor formControlName="text"></quill-editor>
    </div>

    <button
     type="submit"
      class="btn btn-block btn-dark"
      [disabled]="form.invalid"
      >Создать пост</button>

</form>