<div class="container">
    <h1>Angular HttpClient</h1>

    <p *ngIf="error">{{error}}</p>


  <div  *ngIf='!loading; else loaderBlock'>
      <div *ngIf="todos.length; else emptyBlock">
        <div class="card" #cardBlock>
          <div class="form-control">
            <input type="text" placeholder="Название" [(ngModel)]="todoTitle" >
          </div>
          <button class="btn" (click)="addTodo()">Добавить</button>
          <button class="btn" (click)="fetchTodos()" >Загрузить</button>
        </div>

        <hr>



        <div class="card" *ngFor="let todo of todos; let i = index">
          <p>
            <span [class.completed]="todo.completed">{{todo.title}}</span>
            <span>
              <button class="btn btn-danger" (click)="removeTodo(todo.id)">Удалить</button>
              <button class="btn" [disabled]="todo.completed" (click)="completeTodo(todo.id)">Завершить</button>
            </span>
          </p>
        </div>
      </div>
    </div>
    <ng-template #emptyBlock>Нет тудушек</ng-template>
    <ng-template #loaderBlock>Loading...</ng-template>


</div>
