<div class="container">
  <!-- <h1>A</h1>

  <p>{{ e | number: "3.1-2" }}</p>

  <p>{{ "Angular pipes" | slice: 1:-2 }}</p>

  {{ obj | json }}

  {{ 10 | multic}}
  {{ 10 | multic:3}}

  {{'Hello' | exMarks }}
<br>
  {{ 'Loremasdasdasd ipsum dolor sit amet consectetur adipisicing.' | addPointers }} -->
  <input type="text" [(ngModel)]="search" />

  <div class="card" *ngFor="let post of posts | filter:search ">
    <p>{{ post.title }} - {{ post.text }}</p>
  </div>
</div>
