<div class="backdrop"></div>

<div class="modal">

  <nav class="navbar">
    {{title}}
  </nav>

  <p>Lorem ipsum dolor sit amet.</p>

  <button class="btn" (click)="close.emit()">Close</button>
</div>
