<div class="container">
  <h1  >Angular Directives</h1>
  <p appStyle="gold" fontWeight="bold"  [dStyles]="{ border: '1px solid silver', borderRadius: '15px', padding:'10' }" >Lorem ipsum dolor sit amet.</p>
</div>
<hr>

<!-- <div class="wrap" *ngIf="isVisible">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic rem a quasi! Ex, aspernatur quibusdam.</p>
</div> -->
<ng-template [ngIf]="isVisible">
  <div class="wrap" >
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic rem a quasi! Ex, aspernatur quibusdam.</p>
  </div>
</ng-template>


<div class="wrap" *appIfnot="isVisible">
  <p>My structure directive.</p>
</div>


<button  (click)="isVisible = !isVisible">show/hide</button>


