{{x+2}}
<br>
<span [class]="myClass">{{ 'Hello, ' + user.name + ' yours age '+ user.age}}</span>
<hr>
<hr>
<hr>


<p (click)="changeColourClick()" [class]="myColor">some text for click</p>
<hr>
<hr>
<hr>

<p  [style.color]="textColor">Some beautiful text</p>
<br>
<br>
<input type="text" placeholder="color of p" (input)="changeSmth($event.target.value)" id="dynamo"
  (keydown.enter)="changeColourClick()"
>

<hr>
<hr>
<hr>

<input type="text" #myInput>

<button (click)="myAlert(myInput.value)">My btn</button>



<hr>
<hr>
<hr>

<app-user-card [user]="user" (childClicked)="clickOnChild='Кликнули по ребенку'"></app-user-card>

<h1>{{clickOnChild}}</h1>
