.timer-body
   display: flex
   width: 500px
   height: 50px
   justify-content: space-around
.time
  width: 200px
  border: 1px solid silver
  height: 50px
  font-size: 28px
  display: flex
  justify-content: center;
  align-items: center;
  font-weight: 800

