/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.red{
  color: red;
}
.blue{
  color: blue;
  font-size: 1.5rem;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1rem;
}

a{
  text-decoration: none;
  &:hover{
    color: #666;
  }
}

ul{
  list-style: none;
}

img{
  width: 100%;
}

.form-control{
  display: block;
  margin-top: 0.3rem;
}

.card{
  pading: 1rem;
  border: 1px solid #ccc;
  margin: 0.7rem 0;
}

hr{
  margin: 0.5rem 0;
}

.btn{
  background: rgb(8, 8, 8);
  color: white;
  font-size: 0.9rem;
}
