.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.hero {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid red;
  &__title {
    width: 100%;
    border: 1px solid green;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
  }
  img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
}
.timer,
.counter {
  width: 100vw;
  height: 50px;
  text-align: center;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-content: center;
}
.stop {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  border: 1px solid silver;
  cursor: pointer;
  transition: 0.2s all;
  &:hover {
    color: blue;
  }
}
.start {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  border: 1px solid silver;
  cursor: pointer;
  transition: 0.2s all;
  &:hover {
    color: blue;
  }
}
