<div class="timer">
  <app-timer #timer></app-timer>
  <!-- #timer -  ссылка на данный компонент -->
  <div
    class="stop"
    (click)="timer.reset()"
    tooltip="reset btn"
    placement="bottom"
    show-delay="500"
  >
    &#9899;
  </div>
  <div
    class="start"
    (click)="timer.play()"
    tooltip="start btn"
    placement="bottom"
    show-delay="500"
  >
    &#9658;
  </div>
</div>

<div class="counter">
  <app-counter></app-counter>
  <div
    class="stop"
    (click)="decrement()"
    tooltip="minus btn"
    placement="bottom"
    show-delay="500"
  >
    -
  </div>
  <div
    class="start"
    (click)="increment()"
    tooltip="plus btn"
    placement="bottom"
    show-delay="500"
  >
    +
  </div>
</div>

<div class="wrapper">
  <button (click)="addToMap()">Добавить компонент</button>
  <div class="hero" *ngFor="let hero of heroesList; let i = index">
    <div>{{ hero.id }}</div>
    <div class="hero__title">{{ hero.name }}</div>
    <div>{{ hero.power }}</div>
    <img src="{{ hero.image }}" alt="" />
  </div>
</div>

<router-outlet></router-outlet>
