<ng-template appRef> </ng-template>

<nav class='navbar'>
  <h1>ADC</h1>
</nav>

<div class="container">
  <div class="card">
    <h1>S content</h1>
    <button class="btn" (click)="showModal()">Show modal</button>
  </div>

  <!-- <app-modal
  *ngIf="modal"
   (close)="modal = false"
  title="Modal window"></app-modal> -->


</div>
