<!-- posts | async as posts - тут с помощью пайпа асинк мы получим данные из стрима -->
<div 
class="posts"
*ngIf="posts$ | async as posts; else loading"
>
    <app-post 
    *ngFor="let post of posts"
    [post]="post"
    ></app-post>
</div>

<ng-template #loading>
    <p class="text-center">Loading...</p>
</ng-template>
