<p>user works!</p>



<a routerLink="profile" routerLinkActive="router-link-active" >Profile</a>
<a routerLink="settings" routerLinkActive="router-link-active">Settings</a>

<router-outlet></router-outlet>
