
<a routerLink="" routerLinkActive="my-active" [routerLinkActiveOptions]="{exact: true}">Home</a>
<a routerLink="about" routerLinkActive="my-active">About</a>
<a [routerLink]="['/contacts']" routerLinkActive="my-active">Contacts</a>
<a [routerLink]="['/users']" routerLinkActive="my-active">Users</a>
<a routerLink="users/12" routerLinkActive="my-active">User 12</a>


<a routerLink="users" [queryParams]="{q: 111}"  routerLinkActive="my-active">Users with query</a>



<a routerLink="admin"  routerLinkActive="my-active">Admin</a>

<a routerLink="reactive-forms"  routerLinkActive="my-active">Reactive Forms</a>


<router-outlet></router-outlet>



















<!--

<h1>Hello</h1>
<app-header></app-header>

<app-item>

  <h1>Привет из родительского компонента!!!</h1>

  <p>this is the P</p>

</app-item> -->

<!--
<hr>
<h2>Директива пример</h2>

<div appColory>Тext with directive</div>

<br>

<div *appDelay="3000">Directive with delay</div>
 -->

<!-- every secons add new component on the page -->
<!-- <div *ngFor="let delay of [1000,2000,3000,4000,5000,6000,7000]">
    <app-item *appDelay="delay"></app-item>
</div> -->



<hr><br><hr>
<h2>Тут будет CRUD</h2>
<ul>
  <li *ngFor="let user of users">
    {{user.name}} <span (click)="removeItem(user.name)"> x</span>
  </li>
</ul>
<br>
<input type="text" #newUser><br>
<button (click)="addUser(newUser.value)">Add user</button>


<br><hr><br>

<a routerLink="" routerLinkActive="my-active" [routerLinkActiveOptions]="{exact: true}">Home</a>
<a routerLink="about" routerLinkActive="my-active">About</a>
<a [routerLink]="['/contacts']" routerLinkActive="my-active">Contacts</a>
<a [routerLink]="['/users']" routerLinkActive="my-active">Users</a>
<a routerLink="users/12" routerLinkActive="my-active">User 12</a>
<a routerLink="users" [queryParams]="{q: 111}"  routerLinkActive="my-active">Users with query</a>


<a [routerLink]="[{ outlets: {popup1: null} }]" routerLinkActive="my-active" >Hide popup</a>




<router-outlet name="popup1"></router-outlet>
<router-outlet name="popup2"></router-outlet>
<router-outlet name="popup3"></router-outlet>
