<button (click)="animate()">Animate</button>
<button (click)="boxState = 'special' ">Set special State</button>
<button (click)="visible = !visible ">Visible</button>
<hr/>

<div class="wrap">
<!--   <div 
    class="box"
    [@mybox] = "boxState"
    *ngIf="visible"
  >
  <h4> {{ boxState | uppercase}} </h4>
</div> -->
<app-anime></app-anime>

</div>


