.wrap  {
    padding-top: 3rem;
    width: 500px;
    margin: 0 auto;
}

.box{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid royalblue;
    color: honeydew;
}

