<p>reactive-forms works!</p>

<!-- <input type="text" [formControl]="nameControl"> -->

<!-- <fieldset [formGroup]='fullNameControl'>
  <input type="text" formControlName="firstName" >
  <input type="text" formControlName="lastName">
</fieldset> -->


<br><hr>

<form [formGroup]="userListControl">
  <ul formArrayName="users">
    <li *ngFor="let userControl of userListControl.controls.users.controls;let i = index ">
      <input type="text" formControlName="{{i}}">
      <button (click)="removeUserControl(i)">Remove</button>
    </li>
  </ul>
</form>
<button (click)="addUserControl()">Add user</button>

