<div class="container">
  <h1>Angular components</h1>
  <br>
  <h2>subheader</h2>
  <br>
  {{bigTitle}}

  <app-post-form
  (onAdd)="updatePosts($event)"
  (onTitleChanged)="updateTitle($event)"

  ></app-post-form>

  <hr>

  <app-post
    *ngFor="let p of posts"
    [post]="p"
    (onRemove)="removePost($event)"
  >
    <div #info>
        <small *ngIf="p.text.length > 10; else short">Пост длинный</small>
        <ng-template #short>
          <small>Пост короткий</small>
        </ng-template>
    </div>

</app-post>
  <hr>

<!--   <app-cars *ngFor="let cars of carList" [cars]="cars"></app-cars> -->
</div>
